@model List<TagItemModelForTagCloud>

@{
    ViewData["Title"] = "TagCloud";

}

<div class="container" id="allTagsFromTagCloud">

     <div style="display:flex; flex-direction:row; justify-content:flex-start; margin-bottom:5px">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" value="" style=" margin-right:5px" id="TagSearchValue">  
        <button class="btn btn-primary" id="TagSearch">Search</button>
    </div>
     
        <ol class="list-group list-group-numbered">
            @foreach (var n in Model)
            {
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><a style="text-decoration:none" asp-area="" asp-controller="TagItem" asp-action="GetItemsByTagName" asp-route-tagName="@n.TagName">@n.TagName</a></div>
                </div>
                <span class="badge bg-primary rounded-pill">@n.Count</span>
              </li>
            }
        </ol>
</div>



<div id="tagAfterSearch"> 
</div>