@model AuthenticationModel

@{
    ViewData["Title"] = "Authentication";
}

<div class="authorize">
    <h1>Login</h1>

    <form asp-controller="Account" asp-action="Authentication" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Email" type="login" class="form-control" id="Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
    
        <input type="submit" class="btn btn-primary" value="Submit"> 

    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}